{% extends "layouts/layout.twig" %}

{% block top_btn_section %}
   <hr/>
   <a class="btn btn-success" href="{{ base_url() }}/home">Back</a>
{% endblock %}

{% block middle %}
<br/>
<table class="table table-striped table-hover">
   <caption>Details of a single movie</caption>
   <thead>
   <tr>
      <th>
         <h3>{{ title }}</h3>
      </th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td scope="row">{{ id }}</td>
   </tr>
   <tr>
      <td scope="row">{{ director }}</td>
   </tr>
   <tr>
      <td scope="row">{{ main_actor }}</td>
   </tr>
   <tr>
      <td scope="row">{{ production_company }}</td>
   </tr>
   <tr>
      <td scope="row">{{ released_date }}</td>
   </tr>
   </tbody>
</table>
{% endblock %}